synapse/pipeline/1x1_business_datapipeline_stlakebdv.json
{
	"name": "1x1_business_datapipeline_stlakebdv",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupDim').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "business_dim_notebook",
							"type": "SynapseNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"parameters": {
									"relative_path": {
										"value": {
											"value": "@item().Prop_0",
											"type": "Expression"
										},
										"type": "string"
									},
									"loadDate": {
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										},
										"type": "string"
									},
									"creationUser": {
										"value": "keyla.doloresmendez@outlook.com",
										"type": "string"
									}
								},
								"snapshot": true,
								"sparkPool": {
									"referenceName": "SparkPool",
									"type": "BigDataPoolReference"
								},
								"executorSize": "Small",
								"conf": {
									"spark.dynamicAllocation.enabled": null,
									"spark.dynamicAllocation.minExecutors": null,
									"spark.dynamicAllocation.maxExecutors": null
								},
								"driverSize": "Small",
								"numExecutors": null
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "business_dim_notebook",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "NotebookOutput",
								"value": {
									"value": "@activity('business_dim_notebook').output.status.Output.result.exitValue",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "ForEach2",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupTrx').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "business_trx_notebook",
							"type": "SynapseNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "business_trx_notebook",
									"type": "NotebookReference"
								},
								"parameters": {
									"relative_path": {
										"value": {
											"value": "@item().Prop_0",
											"type": "Expression"
										},
										"type": "string"
									},
									"loadDate": {
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										},
										"type": "string"
									},
									"creationUser": {
										"value": "keyla.doloresmendez@outlook.com",
										"type": "string"
									}
								},
								"snapshot": true,
								"sparkPool": {
									"referenceName": "SparkPool",
									"type": "BigDataPoolReference"
								},
								"executorSize": "Small",
								"conf": {
									"spark.dynamicAllocation.enabled": null,
									"spark.dynamicAllocation.minExecutors": null,
									"spark.dynamicAllocation.maxExecutors": null
								},
								"driverSize": "Small",
								"numExecutors": null
							}
						},
						{
							"name": "Set variable1_copy1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "business_trx_notebook",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "NotebookOutput",
								"value": {
									"value": "@activity('business_trx_notebook').output.status.Output.result.exitValue",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"NotebookOutput": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-05-10T06:54:58Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}